# https://pnpm.io/next/npmrc#strict-peer-dependencies
strict-peer-dependencies=false
# https://pnpm.io/npmrc#auto-install-peers
auto-install-peers=false
# Helps locating duplicates
# https://pnpm.io/next/npmrc#use-lockfile-v6
use-lockfile-v6=true
# https://github.com/pnpm/pnpm/releases/tag/v7.29.0-1
dedupe-peer-dependents=true
