@import './reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-brand: hotpink;
}

@media only screen and (max-width: 600px) {
  :root {
    --color-brand: blue;
  }
}

.scroll {
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  scroll-snap-type: y proximity;
}

.scroll > div {
  scroll-snap-align: start;
}

.caption {
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  margin: 80px;
  color: white;
  font-size: 8em;
  font-weight: 100;
  line-height: 1em;
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: auto;
}

.dot1 {
  pointer-events: none;
  color: #a0a0a0;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 1.6em;
  font-size: 15px;
  letter-spacing: 1.5px;
}

.dot1 > h1 {
  -webkit-font-smoothing: auto;
  pointer-events: none;
  color: white;
  font-size: 5em;
  font-weight: 100;
  line-height: 1em;
  margin: 0;
  margin-bottom: 0.25em;
}

.dot {
  pointer-events: none;
  position: sticky;
  top: 0px;
  display: inline-block;
  max-width: 700px;
  padding: 0;
  padding: 80px;
  color: #a0a0a0;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 1.6em;
  font-size: 15px;
  letter-spacing: 1.5px;
}

.dot > h1 {
  -webkit-font-smoothing: auto;
  pointer-events: none;
  color: white;
  font-size: 5em;
  font-weight: 100;
  line-height: 1em;
  margin: 0;
  margin-bottom: 0.25em;
}
