@import './reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* for pandacss */
/* @layer reset, base, tokens, recipes, utilities; */

:root {
  --color-brand: hotpink;
}

@media only screen and (max-width: 600px) {
  :root {
    --color-brand: blue;
  }
}

.alex-noisy-bg {
  background: url(/images/textures/noise.png),
    radial-gradient(at top, #74f932 0%, #ddd 100%);
  background-size: 250px, 100%;
}
